:root {
  --heading-font-family: "Poppins", serif;
  --text-color: #272142;
  --brand-background-color: #f9f7fe;
  --button-background-color: #6c63ff;
}

.hero {
  background-color: var(--brand-background-color);
  text-align: center;
  padding: 150px 20px;
}
h1 {
  font-weight: bold;
  font-size: 64px;
  color: black;
  font-family: "Playfair Display", serif;
}

.hero p {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 36px;
  color: var(--text-color);
  line-height: 54px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--text-color);
}

.btn-branding {
  background-color: var(--button-background-color);
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  line-height: 27px;
  margin-top: 50px;
  color: white;
  width: 150px;
  font-weight: 600;
}

.logo {
  max-height: 40px;
}
.btn-branding:hover {
  color: var(--text-color);
  background-color: var(--button-background-color);
  border: solid var(--button-background-color);
}
.yoghurt div {
  font-family: "Playfair";
  font-size: 64px;
}
.yoghurt p {
  font-size: 16px;
  font-family: var(--heading-font-family);
}
.project-description {
  padding: 120px 60px;
  font-family: var(--heading-font-family);
  line-height: 30px;
}

h2 {
  font-family: "Playfair";
  font-size: 64px;
  font-weight: bold;
  color: black;
}

.btn-branding {
  border: solid 1px var(--button-background-color);
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  line-height: 27px;
  margin-top: 50px;
  color: var(--text-color);
  width: 150px;
  font-weight: 600;
}
p {
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--heading-font-family);
}
@media (max-width 900px) {
  .project-description {
    padding: 0;
    margin: 10px 0 10px;
    text-align: center;
  }
}

.logo-small {
  height: 40px;
  width: auto;
}

img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-left: 50px;
}
.front-end {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 18px;
}

.me {
  padding: 100px;
}
img {
  transform: scale(0.8);
}

.project-link {
  color: var(--text-color);
  background-color: var(--button-background-color);
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.work-projects h3,
p {
  font-size: 14px;
  font-family: var(--heading-font-family);
}
.work-projects h3 {
  color: black;
  font-weight: bold;
  font-size: 24px;
}
.work-projects {
  text-align: center;
}
.content {
  margin-top: 120px;
  margin-right: 60px;
}

.enquiry {
  margin-left: 100px;
  margin-top: 100px;
  background-color: var(--brand-background-color);
  border-radius: 8px;
  padding: 50px;
}

.enquiry p {
  font-size: 18px;
}
.contact-content h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 48px;
  margin-top: 250px;
}

.work-enquiry {
  font-family: "Playfair Display";
}

.contact-link {
  background-color: var(--button-background-color);
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  border-radius: 8px;
}

.mailto {
  text-align: center;
}

.socials {
  font-size: 24px;
  text-align: center;
}

.socials span {
  padding: 15px;
  color: var(--button-background-color);
}

.email {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 18px;
  color: var(--text-color);
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover,
nav li.active a {
  color: var(--button-background-color);
  transition: all 100ms ease-in-out;
}

.logo {
  margin: 0;
  max-width: 150px;
}

nav {
  margin-top: 40px;
  padding: 10px;
}
